<h1><%= @user.name %></h1>
<div class="center jumbotron">
  <% @articles.each do |article| %>
   <p><%= link_to article.title, article_path(article.id) %></p>
   <p><%= article.content %></p>
   <p><%= article.created_at %></p>
   <hr>
 <% end %>
</div>